/* COLOURS                                                           */
/*                                                                   */
/* #1C3950: header and h1 background                                 */
/* HSV: 207, 65, 31                                                  */
/* Decimal RGB: 28, 57, 80                                           */
/*                                                                   */
/* #2A6EA6; link colour                                              */
/* HSV: 207, 75, 65                                                  */
/* Decimal RGB: 42, 110, 166                                         */
/*                                                                   */
/* #FFA933: complement to #2A6EA6                                    */
/*                                                                   */
/* Triad: #2A6EA6, #FFCD33, #FF7033                                  */
/*                                                                   */
/* #eee: header text                                                 */

body {
    margin: 0px 0px 40px 0px;
    line-height: 1.7;
    font: 20px Georgia;
}

#header {
    margin: 0px;
    padding: 0px;
    background-color: #1C3950;
    height: 192px;
}

#container {
    margin-left: 40px;
    width: 660px;
}

#header h1 {
    position: absolute;
    margin: 0px;
    top: 15px;
    left: 40px;
    width: 840px;
    line-height: 1.3;
    font: 56px Georgia;
    color: #eee;
}

#header p {
    position: absolute;
    margin: 0px;
    top: 154px;
    left: 40px;
    font: 16px Georgia;
    color: #eee;
}

#header a {
    color: #eee;
}




h2, h3 {line-height: 1.4;}

h2 {font-size: 40px;}

h3 {font-size: 28px;}
    
a { 
    color: #2A6EA6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.image_snippet {
    float: left; 
    margin-right: 10pt;
    border: 1px solid;
}

p.project {
    clear: both;
    padding-top: 5px;
    line-height: 1.7;

}

p {
    line-height: 1.7;
}

.ghost { /* to ghost out text */
    color: #ccc;
}

.marginnote {
    position: absolute;
    left: 720px;
    width: 220px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.marginnote, .marginnote > em {
    color: #666;
    font-size: 9pt;
}

blockquote {
    line-height: 1.7;
}

ul, li {
    line-height: 1.7;
}


/* Matrix class based on                                                 */
/* http://stackoverflow.com/questions/11561137/                          */
/* html-css-for-brackets-around-mathematical-matrix-prefer-lightweight   */


.matrix {
    position: relative;
    text-align: right;
    vertical-align: middle;
    margin: 0px 8px 0px 8px;
    font-size: 70%;
}

table {
    display: inline-table;
    }

.matrix td {
    padding: 1px 3px 1px 3px; 
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 5%;
    border: 1px solid #000;
    width: 3px;
    height: 90%;
}

.matrix:before {
    left: -3px;
    border-right: 0;
}

.matrix:after {
    right: -3px;
    border-left: 0;
}

pre {
    font-size: 16px;
}