---
layout: default
---

<div class="home">

  <p>
    <a href="https://distill.pub/2017/aia">Using Artificial
      Intelligence to Augment Human Intelligence</a> (joint with Shan
      Carter): By creating user interfaces which let us work with the
      representations inside machine learning models, we can give
      people new tools for reasoning.
  </p>
  
  <p>
    <a href="magic_paper/index.html">Magic Paper</a>: What if our
    mathematical notation had been invented after computers?  What if
    it was gestural, and worked at the speed of thought?
  </p>
  
  <p>
    <a href="tat/index.html">Thought as a Technology</a>: How
    sufficiently imaginative interface designers can invent new
    forms of thought.
  </p>
  
  <p>
    <a href="emm/emm.html">Toward an Exploratory Medium for
    Mathematics</a>
  </p>
  
  <p>
    <a href="http://michaelnielsen.org/reinventing_explanation/index.html">
      Reinventing Explanation</a>: Using new media to create new types
      of explanation.
  </p>

  <p>
    <a href="http://michaelnielsen.org/blog/the-artist-and-the-machine/">The
      Artist and the Machine</a>: How new aesthetics and forms of
      beauty are discovered as we probe deeper into nature.
  </p>

  <h2>Working notes</h2>

  <p>
    <a href="/what-if-oracles-ml">What if we had oracles for common machine learning problems?</a>
  </p>
  
  <p>
    <a href="rmnist_anneal_ensemble">RMNIST with annealing and ensembling</a>
  </p>
  
  <p>
    <a href="rmnist">Reduced MNIST: how well can machines learn from
    small data?</a>
  </p>
  
  <p>
    <a href="interfaces-1/index.html">Working notes on Chalktalk</a>
  </p>
      
  <p>
    <a href="trouble_with_definitions/index.html">The trouble with
      definitions</a>
  </p>
	
  <p>
    <a href="invisible_visible/invisible_visible.html">Making
    invisible understanding visible</a>
  </p>
      
  <p>
    <a href="striking_ui/striking_ui.html">Striking user
    interfaces</a>
  </p>

  <p>
    <a href="http://mnielsen.github.io/notes/kay/dynabook.html">Notes
      on the Dynabook</a>
  </p>
      
  <p>
    <a href="http://mnielsen.github.io/notes/engelbart/engelbart.html">Engelbart:
      "Augmenting Human Intellect"</a>
  </p>
  

</div>
